In [156]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import os

In [157]:
df = pd.read_excel('CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx')

In [158]:
# set df display parameters
desired_width = 100
pd.set_option('display.width', desired_width)
np.set_printoptions(linewidth=desired_width)
pd.set_option('display.max_columns', 15)
df.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],...,Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35,No,JOY,NaN,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,JOY,JOY,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31,No,JOY,JOY,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,JOY,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
# set NaN threshold and remove columns with greater than 30% NaN
limitPer = len(df) * .30
df = df.dropna(thresh=limitPer,axis=1)

In [160]:
# clean column headers
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('[', '').str.replace(']', '')

In [161]:
# look clean at variable names
for col in df.columns: 
    print(col)

timestamp
how_old_are_you?
are_you_going_actually_going_trick_or_treating_yourself?
butterfinger
100_grand_bar
anonymous_brown_globs_that_come_in_black_and_orange_wrappers
any_full-sized_candy_bar
black_jacks
bonkers
bottle_caps
box’o’_raisins
brach_products_(not_including_candy_corn)
bubble_gum
cadbury_creme_eggs
candy_corn
vials_of_pure_high_fructose_corn_syrup,_for_main-lining_into_your_vein
candy_that_is_clearly_just_the_stuff_given_out_for_free_at_restaurants
cash,_or_other_forms_of_legal_tender
chiclets
caramellos
snickers
dark_chocolate_hershey
dental_paraphenalia
dots
fuzzy_peaches
generic_brand_acetaminophen
glow_sticks
broken_glow_stick
goo_goo_clusters
good_n'_plenty
gum_from_baseball_cards
gummy_bears_straight_up
creepy_religious_comics/chick_tracts
healthy_fruit
heath_bar
hershey’s_kissables
hershey’s_milk_chocolate
hugs_(actual_physical_hugs)
jolly_rancher_(bad_flavor)
jolly_ranchers_(good_flavor)
kale_smoothie
kinder_happy_hippo
kit_kat
hard_candy
lapel_pins
lemonheads
licorice
licorice_(not_black)
lindt_truffle
lollipops
mars
mary_janes
maynards
milk_duds
laffytaffy
minibags_of_chips
joyjoy_(mit_iodine)
reggie_jackson_bar
pixy_stix
nerds
nestle_crunch
now'n'laters
pencils
milky_way
reese’s_peanut_butter_cups
tolberone_something_or_other
runts
junior_mints
senior_mints
mint_kisses
mint_juleps
mint_leaves
peanut_m&m’s
regular_m&ms
mint_m&ms
ribbon_candy
rolos
skittles
smarties_(american)
smarties_(commonwealth)
chick-o-sticks_(we_don’t_know_what_that_is)
spotted_dick
starburst
swedish_fish
sweetums
those_odd_marshmallow_circus_peanut_things
three_musketeers
peterson_brand_sidewalk_chalk
peanut_butter_bars
peanut_butter_jars
trail_mix
twix
vicodin
white_bread
whole_wheat_anything
york_peppermint_patties
please_list_any_items_not_included_above_that_give_you_joy.
please_list_any_items_not_included_above_that_give_you_despair.
guess_the_number_of_mints_in_my_hand.
betty_or_veronica?
check_all_that_apply:_"i_cried_tears_of_sadness_at_the_end_of______________"
"that_dress*_that_went_viral_early_this_year_-_when_i_first_saw_it,_it_was_________"
what_is_your_favourite_font?
if_you_squint_really_hard,_the_words_"intelligent_design"_would_look_like.
fill_in_the_blank:_"imitation_is_a_form_of_____________"
please_estimate_the_degree(s)_of_separation_you_have_from_the_following_celebrities_jk_rowling
please_estimate_the_degree(s)_of_separation_you_have_from_the_following_celebrities_jj_abrams
please_estimate_the_degree(s)_of_separation_you_have_from_the_following_celebrities_beyoncé
please_estimate_the_degree(s)_of_separation_you_have_from_the_following_celebrities_bieber
please_estimate_the_degree(s)_of_separation_you_have_from_the_following_celebrities_kevin_bacon
please_estimate_the_degree(s)_of_separation_you_have_from_the_following_celebrities_francis_bacon_(1561_-_1626)
sea-salt_flavored_stuff,_probably_chocolate,_since_this_is_the_"it"_flavor_of_the_year
necco_wafers
which_day_do_you_prefer,_friday_or_sunday?

In [162]:
# drop irrelevant headers
df.drop(['are_you_going_actually_going_trick_or_treating_yourself?',
         'anonymous_brown_globs_that_come_in_black_and_orange_wrappers',
        'any_full-sized_candy_bar', 'bonkers', 'brach_products_(not_including_candy_corn)',
        'vials_of_pure_high_fructose_corn_syrup,_for_main-lining_into_your_vein',
        'candy_that_is_clearly_just_the_stuff_given_out_for_free_at_restaurants',
        'cash,_or_other_forms_of_legal_tender', 'dental_paraphenalia',
        'generic_brand_acetaminophen', 'glow_sticks', 'broken_glow_stick',
        'gum_from_baseball_cards', 'creepy_religious_comics/chick_tracts',
        'healthy_fruit', 'hugs_(actual_physical_hugs)', 'jolly_rancher_(bad_flavor)',
        'kale_smoothie', 'kinder_happy_hippo', 'fuzzy_peaches', 'lapel_pins', 'licorice_(not_black)',
        'joyjoy_(mit_iodine)', 'reggie_jackson_bar', 'pencils', 'senior_mints',
        'mint_kisses', 'mint_juleps', 'mint_leaves', 'ribbon_candy',
        'chick-o-sticks_(we_don’t_know_what_that_is)', 'spotted_dick',
        'peterson_brand_sidewalk_chalk', 'peanut_butter_jars',
        'vicodin', 'white_bread','whole_wheat_anything',
        'guess_the_number_of_mints_in_my_hand.', 'betty_or_veronica?',
        'check_all_that_apply:_"i_cried_tears_of_sadness_at_the_end_of______________"',
        '"that_dress*_that_went_viral_early_this_year_-_when_i_first_saw_it,_it_was_________"',
        'what_is_your_favourite_font?',
        'if_you_squint_really_hard,_the_words_"intelligent_design"_would_look_like.',
        'fill_in_the_blank:_"imitation_is_a_form_of_____________"',
        'sea-salt_flavored_stuff,_probably_chocolate,_since_this_is_the_"it"_flavor_of_the_year',
        'which_day_do_you_prefer,_friday_or_sunday?'], 1, inplace=True)

In [163]:
# drop all columns with the word 'please' in them
df = df[df.columns.drop(list(df.filter(regex='please')))]

In [164]:
# fill NaN values with mode
for column in df.columns:
    df[column].fillna(df[column].mode()[0], inplace=True)

In [165]:
# convert timestamp to date only format
df['timestamp'] = pd.to_datetime(df['timestamp']).dt.date
df.head()

,timestamp,how_old_are_you?,butterfinger,100_grand_bar,black_jacks,bottle_caps,box’o’_raisins,...,those_odd_marshmallow_circus_peanut_things,three_musketeers,peanut_butter_bars,trail_mix,twix,york_peppermint_patties,necco_wafers
0,2015-10-23,35,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,JOY,DESPAIR
1,2015-10-23,41,JOY,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR
2,2015-10-23,33,DESPAIR,DESPAIR,DESPAIR,DESPAIR,JOY,...,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR
3,2015-10-23,31,JOY,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR
4,2015-10-23,30,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,JOY,DESPAIR

In [166]:
# prepare second df
df2 = df.drop(['timestamp','how_old_are_you?'], axis=1)

In [167]:
# count instances of joy and despair
df_count = df2.apply(pd.Series.value_counts)
df_count.head()

,butterfinger,100_grand_bar,black_jacks,bottle_caps,box’o’_raisins,bubble_gum,cadbury_creme_eggs,...,those_odd_marshmallow_circus_peanut_things,three_musketeers,peanut_butter_bars,trail_mix,twix,york_peppermint_patties,necco_wafers
DESPAIR,1118,1543,5291,3568,5047,4242,2173,...,4821,1351,3227,4426,610,1562,4242
JOY,4512,4087,339,2062,583,1388,3457,...,809,4279,2403,1204,5020,4068,1388

In [168]:
# transpose df make joy and despair columns
df_count = df_count.transpose()

In [169]:
# create net approve row
df_count['Net_Approve'] = df_count['JOY'] - df_count['DESPAIR']

In [170]:
# create overall ranking row
df_count['ranking'] = df_count['Net_Approve'] / len(df2)

In [171]:
# remove joy and despair
df_count.drop(['DESPAIR', 'JOY'], 1, inplace=True)
df_count = df_count.transpose()
df_count.head()

,butterfinger,100_grand_bar,black_jacks,bottle_caps,box’o’_raisins,bubble_gum,cadbury_creme_eggs,...,those_odd_marshmallow_circus_peanut_things,three_musketeers,peanut_butter_bars,trail_mix,twix,york_peppermint_patties,necco_wafers
Net_Approve,3394.000000,2544.000000,-4952.000000,-1506.000000,-4464.000000,-2854.000000,1284.000000,...,-4012.000000,2928.000000,-824.000000,-3222.000000,4410.000000,2506.000000,-2854.000000
ranking,0.602842,0.451865,-0.879574,-0.267496,-0.792895,-0.506927,0.228064,...,-0.712611,0.520071,-0.146359,-0.572291,0.783304,0.445115,-0.506927

In [172]:
# join the two dataframes
pd.concat([df, df_count], axis=0)

,timestamp,how_old_are_you?,butterfinger,100_grand_bar,black_jacks,bottle_caps,box’o’_raisins,...,those_odd_marshmallow_circus_peanut_things,three_musketeers,peanut_butter_bars,trail_mix,twix,york_peppermint_patties,necco_wafers
0,2015-10-23,35,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,JOY,DESPAIR
1,2015-10-23,41,JOY,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR
2,2015-10-23,33,DESPAIR,DESPAIR,DESPAIR,DESPAIR,JOY,...,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR
3,2015-10-23,31,JOY,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR
4,2015-10-23,30,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,JOY,DESPAIR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5627,2015-10-31,35,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,JOY,DESPAIR
5628,2015-10-31,38,JOY,JOY,JOY,JOY,JOY,...,DESPAIR,JOY,JOY,JOY,JOY,JOY,JOY
5629,2015-10-31,44,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,JOY,JOY
Net_Approve,NaN,NaN,3394,2544,-4952,-1506,-4464,...,-4012,2928,-824,-3222,4410,2506,-2854
ranking,NaN,NaN,0.602842,0.451865,-0.879574,-0.267496,-0.792895,...,-0.712611,0.520071,-0.146359,-0.572291,0.783304,0.445115,-0.506927

In [173]:
# rename age column
df = df.rename(columns={'how_old_are_you?': 'age'})

In [174]:
# Create hierarchical index
df.set_index(['timestamp', 'age'])

               butterfinger 100_grand_bar black_jacks bottle_caps box’o’_raisins bubble_gum  \
timestamp  age
2015-10-23 35           JOY           JOY     DESPAIR     DESPAIR        DESPAIR    DESPAIR
           41           JOY           JOY     DESPAIR         JOY        DESPAIR    DESPAIR
           33       DESPAIR       DESPAIR     DESPAIR     DESPAIR            JOY    DESPAIR
           31           JOY           JOY     DESPAIR         JOY        DESPAIR    DESPAIR
           30           JOY           JOY     DESPAIR     DESPAIR        DESPAIR    DESPAIR
...                     ...           ...         ...         ...            ...        ...
2015-10-31 50       DESPAIR       DESPAIR     DESPAIR         JOY        DESPAIR        JOY
           43           JOY           JOY     DESPAIR     DESPAIR        DESPAIR    DESPAIR
           35           JOY           JOY     DESPAIR     DESPAIR        DESPAIR    DESPAIR
           38           JOY           JOY         JOY         JOY            JOY    DESPAIR
           44       DESPAIR           JOY     DESPAIR         JOY        DESPAIR    DESPAIR

               cadbury_creme_eggs  ... those_odd_marshmallow_circus_peanut_things  \
timestamp  age                     ...
2015-10-23 35             DESPAIR  ...                                    DESPAIR
           41             DESPAIR  ...                                    DESPAIR
           33                 JOY  ...                                    DESPAIR
           31             DESPAIR  ...                                    DESPAIR
           30                 JOY  ...                                    DESPAIR
...                           ...  ...                                        ...
2015-10-31 50                 JOY  ...                                    DESPAIR
           43             DESPAIR  ...                                    DESPAIR
           35             DESPAIR  ...                                    DESPAIR
           38             DESPAIR  ...                                    DESPAIR
           44             DESPAIR  ...                                    DESPAIR

               three_musketeers peanut_butter_bars trail_mix     twix york_peppermint_patties  \
timestamp  age
2015-10-23 35               JOY            DESPAIR   DESPAIR      JOY                     JOY
           41           DESPAIR                JOY   DESPAIR      JOY                 DESPAIR
           33               JOY            DESPAIR   DESPAIR  DESPAIR                     JOY
           31               JOY                JOY   DESPAIR      JOY                 DESPAIR
           30               JOY            DESPAIR   DESPAIR      JOY                     JOY
...                         ...                ...       ...      ...                     ...
2015-10-31 50           DESPAIR            DESPAIR   DESPAIR  DESPAIR                     JOY
           43               JOY            DESPAIR   DESPAIR      JOY                 DESPAIR
           35               JOY            DESPAIR   DESPAIR      JOY                     JOY
           38               JOY                JOY       JOY      JOY                     JOY
           44               JOY            DESPAIR   DESPAIR      JOY                     JOY

               necco_wafers
timestamp  age
2015-10-23 35       DESPAIR
           41       DESPAIR
           33       DESPAIR
           31       DESPAIR
           30       DESPAIR
...                     ...
2015-10-31 50       DESPAIR
           43       DESPAIR
           35       DESPAIR
           38           JOY
           44           JOY

[5630 rows x 58 columns]

In [175]:
# count data entries by date
df.groupby('timestamp').describe()

             age                 butterfinger              ... york_peppermint_patties             \
           count unique top freq        count unique  top  ...                  unique  top  freq
timestamp                                                  ...
2015-10-23   912     86  35   72          912      2  JOY  ...                       2  JOY   702
2015-10-24   437     70  35   25          437      2  JOY  ...                       2  JOY   328
2015-10-25   283     66  35   27          283      2  JOY  ...                       2  JOY   207
2015-10-26   161     48  35   12          161      2  JOY  ...                       2  JOY   132
2015-10-27    88     39  45    7           88      2  JOY  ...                       2  JOY    72
2015-10-28  2185     91  35  175         2185      2  JOY  ...                       2  JOY  1525
2015-10-29  1327     76  35  108         1327      2  JOY  ...                       2  JOY   935
2015-10-30   227     56  35   14          227      2  JOY  ...                       2  JOY   158
2015-10-31    10      8  50    3           10      2  JOY  ...                       2  JOY     9

           necco_wafers
                  count unique      top  freq
timestamp
2015-10-23          912      2  DESPAIR   671
2015-10-24          437      2  DESPAIR   319
2015-10-25          283      2  DESPAIR   193
2015-10-26          161      2  DESPAIR   118
2015-10-27           88      2  DESPAIR    59
2015-10-28         2185      2  DESPAIR  1682
2015-10-29         1327      2  DESPAIR  1020
2015-10-30          227      2  DESPAIR   172
2015-10-31           10      2  DESPAIR     8

[9 rows x 236 columns]

In [176]:
# count data entries by age
df.groupby('age').describe()

                 timestamp                         butterfinger              ...  \
                     count unique         top freq        count unique  top  ...
age                                                                          ...
0                        1      1  2015-10-30    1            1      1  JOY  ...
0.62                     1      1  2015-10-28    1            1      1  JOY  ...
5                        1      1  2015-10-24    1            1      1  JOY  ...
6                        4      2  2015-10-23    2            4      1  JOY  ...
7                        2      2  2015-10-29    1            2      2  JOY  ...
...                    ...    ...         ...  ...          ...    ...  ...  ...
too old                  6      2  2015-10-28    4            6      2  JOY  ...
too old for this         1      1  2015-10-24    1            1      1  JOY  ...
very                     5      4  2015-10-23    2            5      2  JOY  ...
x                        1      1  2015-10-28    1            1      1  JOY  ...
７１＋                      1      1  2015-10-24    1            1      1  JOY  ...

                 york_peppermint_patties           necco_wafers
                                  unique  top freq        count unique      top freq
age
0                                      1  JOY    1            1      1      JOY    1
0.62                                   1  JOY    1            1      1      JOY    1
5                                      1  JOY    1            1      1  DESPAIR    1
6                                      2  JOY    3            4      2      JOY    2
7                                      2  JOY    1            2      2      JOY    1
...                                  ...  ...  ...          ...    ...      ...  ...
too old                                2  JOY    4            6      2  DESPAIR    4
too old for this                       1  JOY    1            1      1  DESPAIR    1
very                                   2  JOY    3            5      1  DESPAIR    5
x                                      1  JOY    1            1      1  DESPAIR    1
７１＋                                    1  JOY    1            1      1  DESPAIR    1

[146 rows x 236 columns]

In [179]:
# bin dates by early and late entries
bins = [np.datetime64(date(2015,10,22)), np.datetime64(date(2015,10,27)), np.datetime64(date(2015,10,31))]
group_names = ['early entry', 'late entry']
df['week'] = pd.cut(x=df['timestamp'], bins=bins, labels=group_names )

In [180]:
df.head()

,timestamp,age,butterfinger,100_grand_bar,black_jacks,bottle_caps,box’o’_raisins,...,three_musketeers,peanut_butter_bars,trail_mix,twix,york_peppermint_patties,necco_wafers,week
0,2015-10-23,35,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,JOY,DESPAIR,DESPAIR,JOY,JOY,DESPAIR,early entry
1,2015-10-23,41,JOY,JOY,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,early entry
2,2015-10-23,33,DESPAIR,DESPAIR,DESPAIR,DESPAIR,JOY,...,JOY,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,early entry
3,2015-10-23,31,JOY,JOY,DESPAIR,JOY,DESPAIR,...,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,early entry
4,2015-10-23,30,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,JOY,DESPAIR,DESPAIR,JOY,JOY,DESPAIR,early entry