In [173]:
# Sara Herbstreit
# DSC550
# Assignment 1.2
# 6Sep20

In [ ]:
# Import packages
import numpy as np
import pandas as pd

In [174]:
# Create array
array = np.random.randint(1,501, size=(10,50))

In [175]:
print(array)

[[416 102 479  11 362  29 443  14 283 399  16  61  49 106 142 271 195 366
  343 325  77 154 186 442 147 154 262 437 496  21 250 175 347  94 421 398
  137 365 324 129 340  64 278  80 221 394 382 277 383 393]
 [ 15 465 285 425 390 320 219 470 348 438 439  48 445 150  75 224 154 472
  368 271 417 428  33 273  45 464 142 357 395 374 134 323 471  83 327  29
  220 362 282 367 205 433 414 136 117 395 225 178  73 313]
 [358 352 358   1 278 143 441 131 283 336  25 240 437 118   6  85 402 335
   54 216 399 250 392 199 308 240  69 230 227  60 402 409 312  42 128  16
   43 163 471  29 314 109 274 247  18  55 179 211 259 151]
 [ 71 427  42 101 314 461 408 162 333 450 440 168 128 199 482 148 448 348
  329 270 231 139 382 122 493 308 269 354 135 371 320 459 274 208 376 243
  181 205 111 261 120 480 296  17  41 364 333  92 275 292]
 [498 318 340  22  47 248 416 158 296  80 465 251  79 442 261 465 306 469
  116 365 298 267 362 283 352 197 155 283  88 253 245 124 493 239 150 465
  387 464 132 441 159  90 250 320  61 484 122  85 240 217]
 [ 46 196 359 140  92 303 360  98 494 148 254  31  54  41 238 202 420 202
   49 115   3 422 290 154  24 129  99 331 298 263 448 326 175 234  57 305
  335 205 481 159 412 213 394 345 311 475  76 475 286 178]
 [105 146 112 260  71 257 244 406  69 213  25 468  35 419 449 303 403 223
  355 415 381  46 380 242 242 330 462 108 357 217 195 198 340 102 218 318
   12 208 279 441 160 153 468 492 464 128 433  12 218 402]
 [356  79 369 215  70 148 429 216 305  78  28 231   1 420 259 166 382 393
  149 492 489 257 404 168 302 479 316 341 255 425 210 287 347 171 148 451
  146 476 323 361  85 345 480 253 291 319 146  13 163  13]
 [ 78 243 407 205  99 132 388 451 154 469 101 184 319 188 231 415 245 259
  101 416 294 418 430 131 338 355 236 341 449 169 445   7  36 447 109 480
  323 165 380 477 149 378  25 451  54  71 358 262 376 463]
 [276  55 438 239 443 499 187 323 208 203 411 444 158 198 150 405 202 345
  161 147 230 413 130  76 373 392 327 431 379 338 169 481 374 265  55 129
  286 356   8 183 137  59 214  18  27 461 285   6  53 356]]

In [176]:
# Change array to df
df = pd.DataFrame(data=array)

In [177]:
print(df)

    0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0  416  102  479   11  362   29  443   14  283  399  ...  340   64  278   80
1   15  465  285  425  390  320  219  470  348  438  ...  205  433  414  136
2  358  352  358    1  278  143  441  131  283  336  ...  314  109  274  247
3   71  427   42  101  314  461  408  162  333  450  ...  120  480  296   17
4  498  318  340   22   47  248  416  158  296   80  ...  159   90  250  320
5   46  196  359  140   92  303  360   98  494  148  ...  412  213  394  345
6  105  146  112  260   71  257  244  406   69  213  ...  160  153  468  492
7  356   79  369  215   70  148  429  216  305   78  ...   85  345  480  253
8   78  243  407  205   99  132  388  451  154  469  ...  149  378   25  451
9  276   55  438  239  443  499  187  323  208  203  ...  137   59  214   18

    44   45   46   47   48   49
0  221  394  382  277  383  393
1  117  395  225  178   73  313
2   18   55  179  211  259  151
3   41  364  333   92  275  292
4   61  484  122   85  240  217
5  311  475   76  475  286  178
6  464  128  433   12  218  402
7  291  319  146   13  163   13
8   54   71  358  262  376  463
9   27  461  285    6   53  356

[10 rows x 50 columns]

In [178]:
# sum by rows and columns
col_sum = df.sum(axis=0)
row_sum = df.sum(axis=1)

In [179]:
print("The sum of each row is \n", row_sum)

The sum of each row is
 0    12240
1    14036
2    10805
3    13481
4    13348
5    11745
6    12984
7    13250
8    13702
9    12503
dtype: int64

In [180]:
print("The sum of each column is \n", col_sum)

The sum of each column is
 0     2219
1     2383
2     3189
3     1619
4     2166
5     2540
6     3535
7     2429
8     2773
9     2814
10    2204
11    2126
12    1705
13    2281
14    2293
15    2684
16    3157
17    3412
18    2025
19    3032
20    2819
21    2794
22    2989
23    2090
24    2624
25    3048
26    2337
27    3213
28    3079
29    2491
30    2818
31    2789
32    3169
33    1885
34    1989
35    2834
36    2070
37    2969
38    2791
39    2848
40    2081
41    2324
42    3093
43    2359
44    1605
45    3146
46    2539
47    1611
48    2326
49    2778
dtype: int64

In [181]:
# sum of all values
total_sum = df.values.sum()

In [182]:
print("The total sum of all values in the dataframe is \n", total_sum)

The total sum of all values in the dataframe is
 128094

In [183]:
# find minimum value
min_val = df.values.min()

In [184]:
print("The minimum value in the dataframe is \n", min_val)

The minimum value in the dataframe is
 1

In [185]:
# find maximum value
max_val = df.values.max()

In [186]:
print("The maximum value in the dataframe is \n", max_val)

The maximum value in the dataframe is
 499

In [187]:
# find average value
mean_val = df.values.mean()

In [188]:
print("The average of all values in the dataframe is \n", mean_val)

The average of all values in the dataframe is
 256.188

In [189]:
# find standard deviation
std_val = df.values.std()

In [190]:
print("The standard deviation of all values in the dataframe is \n", std_val)

The standard deviation of all values in the dataframe is
 141.56300595847773

In [191]:
# Sort by row 2
row2_sort = df.sort_values(by=1, axis=1)

In [192]:
print("Dataframe sorted by ascending values in row 2 \n", row2_sort)

Dataframe sorted by ascending values in row 2
     0    35   22   24   11   48   14   33   44   30  ...   21   41   9    10  \
0  416  398  186  147   61  383  142   94  221  250  ...  154   64  399   16
1   15   29   33   45   48   73   75   83  117  134  ...  428  433  438  439
2  358   16  392  308  240  259    6   42   18  402  ...  250  109  336   25
3   71  243  382  493  168  275  482  208   41  320  ...  139  480  450  440
4  498  465  362  352  251  240  261  239   61  245  ...  267   90   80  465
5   46  305  290   24   31  286  238  234  311  448  ...  422  213  148  254
6  105  318  380  242  468  218  449  102  464  195  ...   46  153  213   25
7  356  451  404  302  231  163  259  171  291  210  ...  257  345   78   28
8   78  480  430  338  184  376  231  447   54  445  ...  418  378  469  101
9  276  129  130  373  444   53  150  265   27  169  ...  413   59  203  411

    12   25   1    7    32   17
0   49  154  102   14  347  366
1  445  464  465  470  471  472
2  437  240  352  131  312  335
3  128  308  427  162  274  348
4   79  197  318  158  493  469
5   54  129  196   98  175  202
6   35  330  146  406  340  223
7    1  479   79  216  347  393
8  319  355  243  451   36  259
9  158  392   55  323  374  345

[10 rows x 50 columns]

In [193]:
# Sort by column 2
col2_sort = df.sort_values(by=1, axis=0)

In [194]:
print("Dataframe sorted by ascending values in column 2 \n", col2_sort)

Dataframe sorted by ascending values in column 2
     0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
9  276   55  438  239  443  499  187  323  208  203  ...  137   59  214   18
7  356   79  369  215   70  148  429  216  305   78  ...   85  345  480  253
0  416  102  479   11  362   29  443   14  283  399  ...  340   64  278   80
6  105  146  112  260   71  257  244  406   69  213  ...  160  153  468  492
5   46  196  359  140   92  303  360   98  494  148  ...  412  213  394  345
8   78  243  407  205   99  132  388  451  154  469  ...  149  378   25  451
4  498  318  340   22   47  248  416  158  296   80  ...  159   90  250  320
2  358  352  358    1  278  143  441  131  283  336  ...  314  109  274  247
3   71  427   42  101  314  461  408  162  333  450  ...  120  480  296   17
1   15  465  285  425  390  320  219  470  348  438  ...  205  433  414  136

    44   45   46   47   48   49
9   27  461  285    6   53  356
7  291  319  146   13  163   13
0  221  394  382  277  383  393
6  464  128  433   12  218  402
5  311  475   76  475  286  178
8   54   71  358  262  376  463
4   61  484  122   85  240  217
2   18   55  179  211  259  151
3   41  364  333   92  275  292
1  117  395  225  178   73  313

[10 rows x 50 columns]