In [1]:
import sqlite3

In [96]:
# create query parameters
query = """
CREATE TABLE info
(name VARCHAR(20), address VARCHAR(20),
city VARCHAR(20), state VARCHAR(20),
zip INT, phone INT
);"""

In [97]:
# variable to connect
con = sqlite3.connect('mydata.sqlite')

In [98]:
# connect query
con.execute(query)

In [99]:
# commit query
con.commit()

In [100]:
# make data
data = [('Sara Herbstreit', '2406 Bellevue', 'Maplewood', 'MO', 63143, 3144825481),
       ('Brad Apple', '3422 Dravel', 'St. Louis', 'MO', 63153, 3145185481),
       ('Mike Smith', '2226 Treadway', 'St. Louis', 'MO', 61243, 3144324532),
       ('Matt Linden', '2456 Gaslight', 'St. Louis', 'MO', 63213, 3146589903),
       ('Jennifer Linden', '2456 Gaslight', 'St. Louis', 'MO', 63213, 6369643487),
       ('Becky Oscar', '2974 Zenko', 'St. Louis', 'MO', 63145, 3145328876),
       ('Mark Bender', '1298 Flight', 'St. Louis', 'MO', 63223, 3147257281),
       ('Oliver Johnson', '3453 Bruno', 'Maplewood', 'MO', 63143, 3144059872),
       ('Lauren Johnson', '3453 Bruno', 'Maplewood', 'MO', 63143, 3147728977),
       ('Jacob Merry', '6273 Christmas', 'St. Louis', 'MO', 63113, 6363429978)]

In [101]:
# enter number of parameters in ?
stmt = "INSERT INTO info VALUES(?, ?, ?, ?, ?, ?)"

In [102]:
# combine data into query statement
con.executemany(stmt, data)

In [103]:
# commit
con.commit()

In [104]:
import pandas as pd

In [105]:
import sqlalchemy as sqla

In [106]:
# connect to sqlite
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [107]:
# read table from sqlite
pd.read_sql('select * from info', db)

              name         address       city state    zip       phone
0  Sara Herbstreit   2406 Bellevue  Maplewood    MO  63143  3144825481
1       Brad Apple     3422 Dravel  St. Louis    MO  63153  3145185481
2       Mike Smith   2226 Treadway  St. Louis    MO  61243  3144324532
3      Matt Linden   2456 Gaslight  St. Louis    MO  63213  3146589903
4  Jennifer Linden   2456 Gaslight  St. Louis    MO  63213  6369643487
5      Becky Oscar      2974 Zenko  St. Louis    MO  63145  3145328876
6      Mark Bender     1298 Flight  St. Louis    MO  63223  3147257281
7   Oliver Johnson      3453 Bruno  Maplewood    MO  63143  3144059872
8   Lauren Johnson      3453 Bruno  Maplewood    MO  63143  3147728977
9      Jacob Merry  6273 Christmas  St. Louis    MO  63113  6363429978