In [1]:
list1 = [34,12,89,1]

In [2]:
# index 2
list1[2]

89

In [3]:
# last index
list1[len(list1)-1]

1

In [4]:
# easy last index
list1[-1]

1

In [6]:
# create list
list1 = []
#add numbers
for x in range(0,10):
    list1.append(x)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# condensed version of creating list
list2 = [x for x in range(0,10)]
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# Create list in range divisible by 5
list3 = [x for x in range(0,20) if x % 5 ==0]
list3

[0, 5, 10, 15]

In [12]:
# join 2 lists into new list
list4 = list2 + list3
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 5, 10, 15]

In [13]:
# add one list to the other permanently
list1.extend(list3)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 5, 10, 15]

In [16]:
# iterate over list
list1 = [x for x in range(0,10)]
for i in list1:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
# Check for specific values
10 in list1

False

In [18]:
8 in list1

True

In [21]:
# reverse list order
list1.reverse()
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [23]:
# Creating random list
import random
list1 = [random.randint(0,30) for x in range(0,100)]
list1

[22,
 5,
 19,
 2,
 14,
 5,
 20,
 30,
 5,
 12,
 23,
 16,
 8,
 19,
 11,
 28,
 27,
 1,
 4,
 16,
 11,
 10,
 29,
 10,
 13,
 26,
 14,
 3,
 7,
 11,
 23,
 11,
 14,
 5,
 16,
 5,
 15,
 20,
 27,
 3,
 22,
 28,
 28,
 1,
 17,
 29,
 2,
 17,
 18,
 17,
 22,
 24,
 15,
 13,
 6,
 27,
 1,
 27,
 22,
 25,
 20,
 1,
 22,
 18,
 9,
 0,
 24,
 2,
 0,
 22,
 9,
 7,
 17,
 17,
 29,
 28,
 7,
 23,
 5,
 28,
 9,
 4,
 28,
 30,
 30,
 21,
 12,
 9,
 26,
 13,
 23,
 18,
 26,
 0,
 9,
 30,
 21,
 3,
 26,
 13]