In [3]:
# import pandas
import pandas as pd
# import sentiment analyser library
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [4]:
# load df and view
df = pd.read_csv("DailyComments.csv")
df

  Day of Week                                        comments
0      Monday                             Hello, how are you?
1     Tuesday                            Today is a good day!
2   Wednesday  It's my birthday so it's a really special day!
3    Thursday       Today is neither a good day or a bad day!
4      Friday                           I'm having a bad day.
5    Saturday       There' s nothing special happening today.
6      Sunday                      Today is a SUPER good day!

In [48]:
# create variable for sentiment analyser
run_sentiment = SentimentIntensityAnalyzer()

In [49]:
# Apply Vader analyzer to comments
df['compound'] = [run_sentiment.polarity_scores(v)['compound'] for v in df['comments']]
df['negative'] = [run_sentiment.polarity_scores(v)['neg'] for v in df['comments']]
df['neutral'] = [run_sentiment.polarity_scores(v)['neu'] for v in df['comments']]
df['positive'] = [run_sentiment.polarity_scores(v)['pos'] for v in df['comments']]

In [50]:
# View sentiment analysis results
df

,Day of Week,comments,compound,negative,neutral,positive
0,Monday,"Hello, how are you?",0.0000,0.000,1.000,0.000
1,Tuesday,Today is a good day!,0.4926,0.000,0.556,0.444
2,Wednesday,It's my birthday so it's a really special day!,0.5081,0.000,0.709,0.291
3,Thursday,Today is neither a good day or a bad day!,-0.7350,0.437,0.563,0.000
4,Friday,I'm having a bad day.,-0.5423,0.467,0.533,0.000
5,Saturday,There' s nothing special happening today.,-0.3089,0.311,0.689,0.000
6,Sunday,Today is a SUPER good day!,0.8327,0.000,0.338,0.662

In [51]:
# extra credit
# load second df
nyt_df = pd.read_csv("ArticlesApril2017.csv")
nyt_df.head()

,abstract,articleID,articleWordCount,byline,documentType,headline,keywords,multimedia,newDesk,printPage,pubDate,sectionName,snippet,source,typeOfMaterial,webURL
0,NaN,58def1347c459f24986d7c80,716,By STEPHEN HILTNER and SUSAN LEHMAN,article,Finding an Expansive View of a Forgotten Peop...,"['Photography', 'New York Times', 'Niger', 'Fe...",3,Insider,2,2017-04-01 00:15:41,Unknown,One of the largest photo displays in Times his...,The New York Times,News,https://www.nytimes.com/2017/03/31/insider/nig...
1,NaN,58def3237c459f24986d7c84,823,By GAIL COLLINS,article,"And Now, the Dreaded Trump Curse","['United States Politics and Government', 'Tru...",3,OpEd,23,2017-04-01 00:23:58,Unknown,Meet the gang from under the bus.,The New York Times,Op-Ed,https://www.nytimes.com/2017/03/31/opinion/and...
2,NaN,58def9f57c459f24986d7c90,575,By THE EDITORIAL BOARD,article,Venezuela’s Descent Into Dictatorship,"['Venezuela', 'Politics and Government', 'Madu...",3,Editorial,22,2017-04-01 00:53:06,Unknown,A court ruling annulling the legislature’s aut...,The New York Times,Editorial,https://www.nytimes.com/2017/03/31/opinion/ven...
3,NaN,58defd317c459f24986d7c95,1374,By MICHAEL POWELL,article,Stain Permeates Basketball Blue Blood,"['Basketball (College)', 'University of North ...",3,Sports,1,2017-04-01 01:06:52,College Basketball,"For two decades, until 2013, North Carolina en...",The New York Times,News,https://www.nytimes.com/2017/03/31/sports/ncaa...
4,NaN,58df09b77c459f24986d7ca7,708,By DEB AMLEN,article,Taking Things for Granted,['Crossword Puzzles'],3,Games,0,2017-04-01 02:00:14,Unknown,In which Howard Barkin and Will Shortz teach u...,The New York Times,News,https://www.nytimes.com/2017/03/31/crosswords/...

In [55]:
# only keep headline and media type from df
sub_df = nyt_df.loc[:,['headline', 'typeOfMaterial']]
sub_df

                                              headline typeOfMaterial
0    Finding an Expansive View  of a Forgotten Peop...           News
1                    And Now,  the Dreaded Trump Curse          Op-Ed
2                Venezuela’s Descent Into Dictatorship      Editorial
3                Stain Permeates Basketball Blue Blood           News
4                            Taking Things for Granted           News
..                                                 ...            ...
881                Reporting on Gays Who ‘Don’t Exist’           News
882  The Fights That Could Lead to a Government Shu...           News
883  ‘The Leftovers’ Season 3, Episode 2: Swedish P...         Review
884                        Thinking Out Loud, But Why?         Review
885                  Some Sugar. Could Use More Spice.         Review

[886 rows x 2 columns]

In [56]:
# Apply Vader analyzer to headline
sub_df['compound'] = [run_sentiment.polarity_scores(v)['compound'] for v in sub_df['headline']]
sub_df['negative'] = [run_sentiment.polarity_scores(v)['neg'] for v in sub_df['headline']]
sub_df['neutral'] = [run_sentiment.polarity_scores(v)['neu'] for v in sub_df['headline']]
sub_df['positive'] = [run_sentiment.polarity_scores(v)['pos'] for v in sub_df['headline']]

In [57]:
# View sentiment analysis results
sub_df.head(20)

,headline,typeOfMaterial,compound,negative,neutral,positive
0,Finding an Expansive View of a Forgotten Peop...,News,-0.2263,0.174,0.826,0.000
1,"And Now, the Dreaded Trump Curse",Op-Ed,-0.8020,0.643,0.357,0.000
2,Venezuela’s Descent Into Dictatorship,Editorial,0.0000,0.000,1.000,0.000
3,Stain Permeates Basketball Blue Blood,News,0.0000,0.000,1.000,0.000
4,Taking Things for Granted,News,0.2500,0.000,0.600,0.400
5,The Caged Beast Awakens,Review,0.0000,0.000,1.000,0.000
6,An Ever-Unfolding Story,News,0.0000,0.000,1.000,0.000
7,O’Reilly Thrives as Settlements Add Up,News,0.0000,0.000,1.000,0.000
8,Mouse Infestation,News,0.0000,0.000,1.000,0.000
9,Divide in G.O.P. Now Threatens Trump Tax Plan,News,-0.3818,0.271,0.729,0.000
10,Variety Puzzle: Acrostic,News,0.0000,0.000,1.000,0.000
11,They Can Hit a Ball 400 Feet. But Play Catch? ...,News,0.2960,0.127,0.667,0.207
12,"In Trump Country, Shock at Trump Budget Cuts",Op-Ed,-0.5859,0.444,0.556,0.000
13,Why Is This Hate Different From All Other Hate?,Op-Ed,-0.8432,0.536,0.464,0.000
14,Pick Your Favorite Ethical Offender,Editorial,0.5859,0.231,0.185,0.583
15,My Son’s Growing Black Pride,Op-Ed,0.4767,0.000,0.423,0.577
16,Jerks and the Start-Ups They Ruin,Op-Ed,-0.7096,0.596,0.404,0.000
17,Trump Needs a Brain,Op-Ed,0.0000,0.000,1.000,0.000
18,Manhood in the Age of Trump,Op-Ed,0.0000,0.000,1.000,0.000
19,The Value of a Black College,Op-Ed,0.3400,0.000,0.676,0.324